@font-face {
    font-family: Overpass;
    src: url(Overpass-Regular.ttf);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(JetBrainsMono-Regular.ttf);
}

body {
    background-color: #00061E;
    color: #FFFFFF;
    font-family: Overpass;
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 940px;
    margin: auto;
}

.logo {
    width:130px;
    margin-bottom: 30px;
    margin-top:5px;
}

.status-bar {
    display: flex;
    width: 940px;
    align-items: center;
    justify-content: center;
}

.status-bar .status-bar-item {
    background: linear-gradient(to bottom, #143560 0%, #000f2f 100%);
    width: 305px;
    height: 90px;
    border-radius: 8px;
    flex: 1 1 0;
    min-width: 305px;
}

.status-bar-item div {
    margin-left: 20px;
}

.status-bar-item .label {
    color: #808891;
    padding-top: 20px;
    font-family: "JetBrains Mono";
}

.status-bar-item .value {
    font-size: 25px;
}

.status-bar .status-tab-center {
    margin-left: 10px;
    margin-right: 10px;
}

.line-separator {
    height: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #2c394a;
}

.configuration {
    padding-left: 4px;
}

.configuration .config-section {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #808891;
}

.configuration .config-edit-link {
    color: #009ee8;
    float: right;
    cursor: pointer;
    margin-right: 35px;
}

.configuration .config-section-row {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.configuration .config-section-row-item {
    margin-right: 20px;
}

.config-section-row-item .value {
    text-transform: uppercase;
}

.configuration .label {
    margin-top: 10px;
    font-size: 12px;
}

.configuration .value {
    font-family: "JetBrains Mono";
    font-size: 17px;
    text-transform: uppercase;
}

.log {
    width:908px;
    min-height: 400px;
    height: 40%;
    background-color: #0f3059;
    border-color: #009ee8;
    border-width: 1px;
    color: #009ee8;
    padding: 15px;
    border-style: solid;
    font-family: "JetBrains Mono";
    word-wrap: break-word;
}

.log span {
    word-wrap: break-word;
}

.keyring {
    display:flex;
}

.keyring-block {
    margin-top: 20px;
}

.keyring-block .keyring {
    display: inline-grid;
}

.keyring-block div {
    display: inline;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    font-family: "JetBrains Mono";
    background-color: #0f3059;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    max-width: 600px;
    width: 90%; /* Could be more or less, depending on screen size */
}

.config-input-fields {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.config-save-item {
    margin-top:20px;
    width: 47%;
    font-family: "JetBrains Mono";
    font-size: 15px;
    margin-right: 15px;
}

.config-save-item .config-checkbox {
    width: 28px;
    margin-left: 0;
    margin-right: -12px;
    height: 28px;
    margin-top: 6px;
    opacity: 0.7;
}

.config-save-item input {
    background-color: #1c3862;
    border-style: none;
    color: #aaaaaa;
    font-size: 18px;
    padding: 6px;
    margin-top: 5px;
    width: 100%;
}

.config-menu-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 3px;
    font-family: "JetBrains Mono";
}

.config-menu-controls div {
    cursor: pointer;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-top: -17px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

